@import "tailwindcss";

@theme {
  --color-primary: #800000;
  --color-secondary: #6A2C70;
  --color-accent: #F5A031;
  --color-background: #E64055;
}

.imageClipPath {
  clip-path: polygon(0 0, 75% 0, 100% 30%, 100% 100%, 0% 100%);
}
